# Ignore node_modules
node_modules/

# Ignore logs
*.log

# Ignore environment files
.env

# Ignore build output
dist/
build/

# Ignore package-lock.json
package-lock.json

# Ignore config folder
config/